<div class="socials">
  <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>

  <a href="https://twitter.com/home"><i class="fab fa-twitter-square"></i></a>


  <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
</div>

<!--Maybe add the heyBUD logo down here with the licencing??-->
<div>

  <p>&copy; heyBUD 2021. </p>

</div>