<section class="footer-nav">
	<!-- Footer Navigation -->
	<nav class="word-nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about-us">OurTeam</a></li>
			<li><a href="/shop">Shop</a></li>
			<li><a href="/contact">Contact</a></li>

		</ul>
	</nav>
	<nav class="socials">
		<a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
		<a href="https://twitter.com/home"><i class="fab fa-twitter-square"></i></a>
		<a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
	</nav>

	<!-- Copyright -->
	<div id="copyright">
		<footer class="footer-2">
			<h5>&copy; Code Busters 2021. </h5>
		</footer>
	</div>
</section>