<div id="main">
	<div class="container">
		<div class="row">
			<div class="8u">

				<!-- Footer Navigation -->
				<section>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<footer class="footer-2">
		<p>&copy;Code Busters 2021. </p>
	</footer>
</div>
