<section class="footer-nav">
	<!-- Footer Navigation -->
	<nav class="word-nav">
		<a href="../pages/contact.ejs">
			<li>Contact Us</li>
		</a>
		<a href="../pages/about-us.ejs">
			<li>About Us</li>
		</a>
		<a href="../pages/shop.ejs">
			<li>Shop Here</li>
		</a>
	</nav>
	<nav class="socials">
		<a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
		<a href="https://twitter.com/home"><i class="fab fa-twitter-square"></i></a>
		<a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
	</nav>

	<!-- Copyright -->
	<div id="copyright">
		<footer class="footer-2">
			<h5>&copy;Code Busters 2021. </h5>
		</footer>
	</div>
</section>