<!--TODO: Add logo to heyBUD-->

<a id="home-link">
  <svg width="500" height="500" viewBox="0 0 330 356" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="330" height="356" fill="transparent" />
    <!--mouth-->
    <path
      d="M187 335C173.297 341.357 165.394 341 151 335C153.495 347.774 155.47 354.355 169.5 355.5C181.577 355.418 184.891 350.199 187 335Z"
      fill="black" stroke="black" />
    <!--right eye-->
    <path
      d="M194.5 308.5C191.428 308.203 189.513 308.929 185.5 313C180.466 307.417 180.074 303.966 185.5 297C191.481 293.319 195.133 292.929 202.5 297C208.996 305.26 207.51 308.303 202.5 313C199.773 309.608 198.144 308.118 194.5 308.5Z"
      fill="black" stroke="black" />
    <!--left eye-->
    <path
      d="M141.5 308C136.745 308.217 134.843 309.408 132.5 313C127.486 308.495 125.949 305.575 132.5 297.5C138.748 292.704 142.252 292.554 148.5 297.5C153.533 304.593 153.85 310.145 148.5 313C146.589 310.24 145.727 308.487 141.5 308Z"
      fill="black" stroke="black" />
    <!--left bottom leaf-->
    <path
      d="M86.5 267.5C114.016 260.668 131.208 260.569 162 263C134.818 281.672 118.571 290.549 86.5 301.5C56.4542 304.718 42.4284 303.634 22 297C41.5939 282.033 53.9822 274.506 86.5 267.5Z"
      fill="black" stroke="black" />
    <!--right bottom leaf-->
    <path
      d="M244 266C212.814 260.55 197.63 260.097 172.5 261.5C195.913 282.67 211.323 291.434 244 300C271.957 304.217 286.031 302.343 310 296C290.344 282.339 278.794 274.848 244 266Z"
      fill="black" stroke="black" />
    <!-- left upper leaf -->
    <path
      d="M93.5 175.5C126.319 205.398 138.958 223.038 161.5 254.5C120.615 245.895 99.0178 237.807 65.5 210.5C30.4599 182.749 20.4394 164.594 1.5 132.5C40.9533 140.218 61.3814 148.901 93.5 175.5Z"
      fill="black" stroke="black" />
    <!--right upper leaf-->
    <path
      d="M230.5 178.5C201.082 206.822 189.572 223.27 172.5 253C202.389 242.624 220.313 235.098 256.5 215.5C292.081 191.144 308.251 173.112 328.5 131C287.667 138.707 265.676 146.846 230.5 178.5Z"
      fill="black" stroke="black" />
    <!--center leaf-->
    <path
      d="M164.576 250.01L165 251C182.938 206.034 192.158 179.675 195 114C192.948 66.7454 188.284 41.459 165 1.5C143.92 34.6911 134.05 55.6322 134 114C134.565 179.991 145.43 205.341 164.576 250.01Z"
      fill="black" stroke="black" />
  </svg>
  heyBUD</a>

<ul>
  <li>About</li>
  <li>Contact</li>
  <li>Gallery</li>
</ul>
<!--TODO: Add an icon to shop-->
<button><i class="fas fa-bars"></i></button>
<a><i class="fas fa-shopping-cart"></i></a>