/* Font Type */
.company-brand {
  font-family: "Hachi Maru Pop", sans-serif;
  font-size: clamp(2.4rem, 5vw, 3.2rem);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

p,
li,
a,
figcaption {
  font-family: "Open Sans", sans-serif
}

/* Font Sizes*/
h1 {
  /*font-size: clamp(2.4rem, 5vw, 3.5rem);*/
}

h2 {
  /*font-size: clamp(2.2rem, 5vw, 2.6rem);*/
}

h3 {
  /*font-size: clamp(2rem, 5vw, 2.2rem);*/ }

p,
a {
  /*font-size: clamp(1.4rem, 5vw, 1.8rem);*/
  /*max-width: 80ch;*/
}

figcaption {
  /*font-size: clamp(1.4rem, 5vw, 1.6rem);*/
}
