/* ******** */
/* Defaults */
/* ******** */
:root {

	/* Colors*/
	--black: hsl() --green: hsl() --purple: hsl() --white: hsl() --grey: hsl()
		/* Interaction */
		--interaction-curve: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 10);

	/* shadows TODO: Change colors */
	--inactive-shadow: 0 3px 5px hsla(209, 10%, 12%, 0.12), 0 1px 2px hsla(209, 10%, 12%, 0.24);
	--hover-shadow: 0 14px 25px hsla(209, 10%, 12%, 0.24), 0 10px 10px hsla(209, 10%, 12%, 0.24);
	--active-shadow: 0 14px 25px hsla(209, 20%, 28%, 0.24), 0 10px 10px hsla(0, 2%, 28%, 0.24);
}

/*
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
	margin: 0px;
	padding: 0px;
	background: #7b9c54;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

h1,
h2,
h3 {
	margin: 0px;
	padding: 0px;
}

h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: 1px;

}

p,
ol,
ul {
	margin-top: 0px;
	line-height: 160%;
}

p {
	margin-bottom: 2em;
	line-height: 160%;
}


strong {
	font-weight: 700;
}

a {
	color: #000000;
}



/* Images */

.image {
	display: inline-block;
}

.image img {
	display: block;
	width: 100%;
}

.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image.full {
	display: block;
	width: 100%;
	margin-bottom: 2em;
}

.image.left {
	float: left;
	margin: 0 2em 2em 0;
}

.image.centered {
	display: block;
	margin: 0 0 2em 0;
}

.image.centered img {
	margin: 0 auto;
	width: auto;
}

header {
	margin-bottom: 1em;
}

header h2 {
	font-weight: 600;
}

header .byline {
	display: block;
	margin: 0.5em 0 0 0;
	padding: 0 0 0.5em 0;
}

ul.style {}

ul.style li {
	padding: 0.55em 0em;
}

ul.style li:first-child {}

ul.style a {}

/* home page- indica&sativa favs */
ul.style1 {
	color: #2d0ce9 !important;
}

ul.style1 li {
	padding: 0.55em 0em;
}

ul.style1 li:first-child {}

ul.style1 a {
	color: #e013cf !important;
}

ul.style1 img {
	float: left;
	margin-right: 1em;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
	position: relative;
}

#header .container {
	position: relative;
	padding: 6em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
	position: absolute;
	left: 0em;
	top: 4.5em;
}

#logo h1 {
	color: rgb(238, 17, 17);
}

#logo a {
	display: block;
	text-decoration: none;
	font-size: 2.8em;
	font-weight: 600;
	color: rgb(226, 10, 10);
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
	position: absolute;
	right: 0em;
	top: 5em;
}

#nav>ul>li {
	float: left;
}

#nav>ul>li:last-child {
	padding-right: 0;
}

#nav>ul>li>a,
#nav>ul>li>span {
	display: block;
	margin-left: 0.7em;
	padding: 0.80em 1.2em;
	letter-spacing: 0.06em;
	text-decoration: none;
	font-size: 1em;
	outline: 0;
	color: #FFF;
}

#nav li.active a {
	background: #56c9d6;
	border-radius: 5px;
	color: #FFF;
}



/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
/* top of page banner for all */
#banner {
	position: relative;
	background: rgb(180, 153, 153) url(../images/edited/medium/friends.jpg) no-repeat center;
	background-size: cover;
}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
	position: relative;
	padding: 6em 0em;
	background: #bebeb5;
	color: #12112c;
}

#main header h2 {
	color: #0b0744;
}

#main a {
	color: #2e3a55;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
h1.heybud {
	font-size: 2rem;
}

#featured {
	position: relative;
	padding: 6em 0em 4em 0em;
	background: #FFF;
	font-size: 1rem;
}

.index-promo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	grid-gap: 5px;

}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

#marketing {
	position: relative;
	padding: 6em 0em;
	background: #d8cdca;
	color: #110704;
}

#marketing header h2 {
	color: #130602;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.footer-nav {
	position: relative;
	padding: 0;
	text-align: center;
	color: #050100;
	font-size: 14px;
}

.word-nav {

	justify-content: center;
	align-content: space-between;

}

.socials {
	font-size: 1.8rem;
	display: inline-block;
}

#copyright a {
	text-decoration: none;
	color: #000000 !important;
}