tml, body, div, span, a, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, img, figure, figcaption, header, footer, nav, main, section, article {
  margin: 0;
  padding: 0;
  border: 0;
}


ul, ol, li, a {
  list-style-type: none;
  text-decoration: none;
}
