<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <p>404 ERROR FILE NOT FOUND !!!!</p>
  <img src="/public/images/original/hybrid3.jpg" alt="weed pic to fill 404">
</body>

</html>
