<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<%- include('../partials/head')%>
</head>

<body>

	<%- include('../partials/header')%>
		<div id="featured">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Get to know HeyBUD</h2>
							</header>
						</section>

						<section>
							<a href="#" class="image full"><img src="/images/images-temp-2/pics04.jpg" alt=""></a>
							<header>
								<h2>Our Core Values</h2>
							</header>
							<p>At our mountain top resort we have the best employees from around the globe and we cant wait to
								introduce ourselves. But first lets dig deep into some things that are important to us. We strongly
								believe that customer satisfaction is #1 and we are contiuously improving from your feedback.</p>
						</section>

						<section>
							<a href="#" class="image full"><img src="/images/images-temp-2/pics05.jpg" alt=""></a>
							<header>
								<h2>John Doe</h2>
								<h6>Regional Manager & Owner</h6>
							</header>
							<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Curabitur sem urna, consequat mattis
								placerat, nulla.</p>
						</section>
					</div>
					<section>
						<a href="#" class="image full"><img src="/images/images-temp-2/pics06.jpg" alt=""></a>
						<header>
							<h2>Ricky Bobby</h2>
							<h6>Cannbis Specialist & Sales Rep</h6>
						</header>
						<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Curabitur sem urna, consequat mattis
							placerat, nulla.</p>
					</section>
				</div>
				<section>
					<a href="#" class="image full"><img src="/images/images-temp-2/pics07.jpg" alt=""></a>
					<header>
						<h2>Dr Virginia Dunkeld</h2>
						<h6>Cannbis Doctor</h6>
					</header>
					<p>Straight from the most prestigious horticultural institute in Amsterdam, Dr.Virginia Dunkeld specializes in
						therapeutic applications of cannabis products. Along with her medical practice, Dr.Dunkeld has sucessfully
						managed and improved the crops of 3 marijuana farms in the Netherlands.</p>
				</section>
			</div>

			<div class="9u">
				<section>
					<header>
						<h2>What Makes Us Better Than The Rest??</h2>
					</header>
					<a href="#" class="image full"><img src="/images/images-temp-2/pics12.jpg" alt=""></a>
					<p>We have our beautiful instore Cannabis Doctor Virginia, who can diagnose the right types of cannabis for
						patients suffering from pain or anxiety. It doesnt stop there! For people who just really want to take your
						high to the next level, why not make sure its done professionally.</p>

				</section>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<%- include('../partials/footer')%>
		</div>

</body>

</html>