<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<%- include('../partials/head')%>
</head>

<body>

	<%- include('../partials/header')%>
		<div id="featured">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Get to know HeyBUD</h2>
							</header>
						</section>

						<section>

							<header>
								<h2>Our Core Values</h2>
							</header>
							<p>At our mountain top resort we have the best employees from around the globe and we cant wait to
								introduce ourselves. But first lets dig deep into some things that are important to us. At HeyBUD we
								value our customers, With the best product's and the lowest prices, we gurantee your
								satisfaction. Established in 2020, we may be new on the market but we have the right core values to
								last while contiuously improving with your feedback.</p>
							<a href="#" class="image full"><img src="/images/edited/large/jointpass.jpg" alt=""></a>
						</section>

						<section>

							<header>
								<h2>John Doe</h2>
								<h6>Regional Manager & Owner</h6>
							</header>
							<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Curabitur sem urna, consequat mattis
								placerat, nulla.</p>
							<a href="#" class="image full"><img src="/images/staff-images/fake-joe.jpg" alt=""></a>
						</section>
					</div>
					<section>

						<header>
							<h2>Ricky Bobby</h2>
							<h6>Cannbis Specialist & Sales Rep</h6>
						</header>
						<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Curabitur sem urna, consequat mattis
							placerat, nulla.</p>
						<a href="#" class="image full"><img src="/images/images-temp-2/pics06.jpg" alt=""></a>
					</section>
				</div>
				<section>

					<header>
						<h2>Dr Virginia Dunkeld</h2>
						<h6>Cannbis Doctor</h6>
					</header>
					<p>Straight from the most prestigious horticultural institute in Amsterdam, Dr.Virginia Dunkeld specializes in
						therapeutic applications of cannabis products. Along with her medical practice, Dr.Dunkeld has sucessfully
						managed and improved the crops of 3 marijuana farms in the Netherlands.</p>
					<a href="#" class="image full"><img src="/images/images-temp-2/pics07.jpg" alt=""></a>
				</section>
			</div>

			<div class="9u">
				<section>
					<header>
						<h2>What Makes Us Better Than The Rest??</h2>
					</header>
					<a href="#" class="image full"><img src="/images/new photos/bubbler.jpg" alt=""></a>
					<p>We have our beautiful instore Cannabis Doctor Virginia, who can diagnose the right types of cannabis for
						patients suffering from pain or anxiety. It doesnt stop there! For people who just really want to take your
						high to the next level, why not make sure its done professionally.</p>

				</section>
			</div>
		</div>

		<!-- Copyright -->
		<%- include('../partials/footer')%>
</body>

</html>