<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<%- include('../partials/head')%>
</head>

<body>

	<%- include('../partials/header')%>
		<div id="featured">


			<div class="container">

				<section class="about-title">
					<header>
						<h2>Get to know HeyBUD</h2>
					</header>
				</section>

				<section class="core-values">

					<header>
						<h2>Our Core Values</h2>
					</header>
					<p>At our mountain top resort we have the best employees from around the globe and we cant wait to
						introduce ourselves. But first lets dig deep into some things that are important to us. At HeyBUD we
						value our customers, With the best product's and the lowest prices, we gurantee your
						satisfaction. Established in 2020, we may be new on the market but we have the right core values to
						last while contiuously improving with your feedback.</p>

				</section>
				<a href="#" class="image full"><img src="/images/edited/large/jointpass.jpg" alt=""></a>

				<section class="human-1">
					<div>
						<header>
							<h2>John Doe</h2>
							<h6>Regional Manager & Owner</h6>
						</header>
						<p>My name is John, I am the Manager and co owner of HeyBUD. Along with many other people I had a dream of
							ownying my first business. 5 years later and here I are living that dream selling legal marijuana!!</p>
						<h6>Hobbies</h6>
						<ul>
							<li>Family</li>
							<li>Sports</li>
							<li>Adventure</li>
							<li>Biking</li>
							<li>Escaping</li>
						</ul>
					</div>
					<div><a href="#" class="image full"><img src="/images/new photos/andrew-santellan-HfFSE4-zCPM-unsplash.jpg"
								alt=""></a></div>

				</section>

				<section class="human-2">

					<div><a href="#" class="image full"><img src="/images/new photos/ben-parker-OhKElOkQ3RE-unsplash.jpg"
								alt=""></a></div>
					<div>
						<header>
							<h2>Ricky Bobby</h2>
							<h6>heyBud Bar Specialist</h6>
						</header>
						<p>My name is Rick, but you can call me Ricky. With a Bachelor of science studying horticulture, I have
							invested my life in to growing cannabis efficiently and natural.</p>
						<h6>Hobbies</h6>
						<ul>
							<li>SnowBoarding</li>
							<li>Sending It</li>
							<li>Dirt Biking</li>
							<li>Planting</li>
							<li>Growing Vegtables</li>
						</ul>
					</div>


				</section>

				<section class="human-3">
					<div>
						<header>
							<h2>Dr Virginia Dunkeld</h2>
							<h6>Cannbis Doctor& Owner</h6>
						</header>
						<p>Straight from the most prestigious horticultural institute in Amsterdam, Dr.Virginia Dunkeld specializes
							in
							therapeutic applications of cannabis products. Along with her medical practice, Dr.Dunkeld has sucessfully
							managed and improved the crops of 3 marijuana farms in the Netherlands.</p>
						<h6>Hobbies</h6>
						<ul>
							<li>Family</li>
							<li>Sports</li>
							<li>Adventure</li>
							<li>Biking</li>
							<li>Escaping</li>
						</ul>
					</div>
					<div><a href="#" class="image full"><img src="/images/new photos/michael-dam-mEZ3PoFGs_k-unsplash.jpg"
								alt=""></a></div>

				</section>

				<section>
					<header>
						<h2>What Makes Us Better Than The Rest??</h2>
					</header>
					<a href="#" class="image full"><img src="/images/new photos/bubbler.jpg" alt=""></a>
					<p>We have our beautiful instore Cannabis Doctor Virginia, who can diagnose the right types of cannabis for
						patients suffering from pain or anxiety. It doesnt stop there! For people who just really want to take your
						high to the next level, why not make sure its done professionally.</p>

				</section>
			</div>

			<!-- Copyright -->
			<%- include('../partials/footer')%>
</body>

</html>