<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

	<head>
		<%- include('../partials/head') %>
	</head>

	<body class="homepage">

		<!-- Header -->
		<%- include('../partials/header')%>
		<div id="featured">
			<div class="container">

				<section>
					<header>
						<div>
							<h1 class="heybud">heyBUD Secret Administration Page</h1>
							<p>Data display</p>
						</div>
					</header>
					<!-- Input form data for each input item here -->
					<section class="admin-form-view">
						</section>

					<!-- Copyright -->
					<%- include('../partials/footer')%>

	</body>

</html>

