<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<%- include('../partials/head')%>

<body>

	<!-- Header -->
	<%- include('../partials/header')%>
		<div id="featured">
			<div class="container">
				<div class="row">
					<div class="9u">
						<section>
							<h2>Contact Us</h2>

							<form action="" method="post">
								<label for="name">Name: </label>
								<input type="text" name="name" id="user-name" placeholder="Enter your name here" required>
								<label for="email">Email: </label>
								<input type="email" name="email" id="user-email" placeholder="Enter your email here" required>
								<label for="user-message">Message: </label>
								<textarea name="user-message" id="user-message" cols="30" rows="10"
									placeholder="Let us know how we can help you" max-length="500" required></textarea>
								<input type="submit" value="send">
							</form>
						</section>
					</div>
					<div class="3u">
						<section>
							<section>
								<a href="#" class="image full"><img src="/images/images-temp-2/pics04.jpg" alt=""></a>
								<h2>VIP Club Infomation</h2>
								<p>With our awesome VIP club you get first hand service on all of our instore deals and special online
									purchase.</p>
								<button class="sign-up">Sign Up</button>
								<button class="log-in">Log In</button>

							</section>
							<!--For mobile, can we make this clickable so it opens up in your phone and email for email? -->
							<section>
								<h2>Our Info</h2>
								We would love to hear from you
								<h3>Phone</h3>
								<a href="tel:893-674-4329">893-674-4329</a>
								<h3>Email</h3>
								<a href="manager@heybud.ca">manager@heybud.ca</a>
								<h3>Address</h3>
								<p>2334 Rourke Way NW,<br> Calgary, Canada</p>
							</section>
						</section>

					</div>
				</div>
			</div>
		</div>
		<div id="marketing">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Praesent eleifend</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="/images/images-temp-2/pics06.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="/images/images-temp-2/pics07.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="/images/images-temp-2/pics08.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Maecenas lectus</h2>

							</header>
							<ul class="style1">
								<li class="first"><img src="/images/images-temp-2/pics09.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="/images/images-temp-2/pics10.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
								<li><img src="/images/images-temp-2/pics11.jpg" width="80" height="80" alt="">
									<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>Aenean elementum facilisis ligula</h2>
							</header>
							<a href="#" class="image full"><img src="/images/images-temp-2/pics12.jpg" alt=""></a>
							<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque.
								Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna.
								Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem,
								imperdiet. Donec mattis libero eget urna. Duis pretium velit ac mauris.</p>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div id="main">
			<div class="container">
				<div class="row">
					<div class="8u">
						<section>
							<header>
								<h2>Maecenas luctus lectus at sapien</h2>
							</header>
							<p>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque,
								justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce
								mattis
							</p>

						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<%- include('../partials/footer')%>
		</div>

</body>

</html>