<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

	<head>
		<%- include('../partials/head')%>

		<body>

			<!-- Header -->
			<%- include('../partials/header')%>
			<div id="featured">
				<div class="container">
							<section>
								<h1>Contact Us</h1>
								<p>We are always ready to help our clients out. Give us a call or come by the shop anytime during business hours.</p>
							</section>

					<div class="row">
							<section class="form-container">
								<h2>Smoker's Survey</h2>
								<p>Take a minute to fill out our survey and receive a gift. We have a variety of products that we are giving away, you may get a pack of papers, and you just may get a brand new bong!</p>
								<!--Personal Information -->
								<form action="/contact" method="post" class="research-form">
									<!-- Name-->
									<label for="name">Name: </label>
									<input type="text" name="name" id="user-name" placeholder="Enter your name here" required>
									<!-- Email -->
									<label for="email">Email: </label>
									<input type="email" name="email" id="user-email" placeholder="Enter your email here" required>
									<!--Age TODO Change this to number-->
									<label for="age">Age: </label>
									<input type="number" name=" age" id="age" placeholder="age" reqed>
																		<!-- Consumption Info -->
									<!--TODO Add client side JS to force at least 3 choices-->
									<fieldset class="form-fields">
										<legend>Choose your top 3 preferred ways to get high</legend>
										<label for="joints">Joints</label>
										<input type="checkbox" name="joints" id="joints" value="Joints">
										<label for="vaping">Vaping</label>
										<input type="checkbox" name="vaping" id="vaping" value="Vaping">
										<label for="bongs">Bongs</label>
										<input type="checkbox" name="bongs" id="bongs" value="Bongs">
										<label for="pipes">Pipes</label>
										<input type="checkbox" name="pipes" id="pipes" value="Pipe">
										<label for="eadibles">Eadibles</label>
										<input type="checkbox" name="eadibles" id="eadibles" value="Eadibles">
										<label for="beverages">Beverages</label>
										<input type="checkbox" name="beverages" id="beverages" value="Beverages">
										<label for="drops">Oil Drops</label>
										<input type="checkbox" name="drops" id="drops" value="Oil Drops">
										<label for="spray">Mouth Spray</label>
										<input type="checkbox" name="spray" id="spray" value="Spray">
									</fieldset>
									<!-- Use Frequency -->
									<fieldset class="form-fields">
										<legend>How often do you use marijuana products</legend>
										<label for="daily">Daily</label>
										<input type="radio" name="useFrequency" id="daily" value="daily">
										<label for="often">Often (A few times a week)</label>
										<input type="radio" name="useFrequency" id="often" value="often">
										<label for="casually">Casually (A few times a week)</label>
										<input type="radio" name="useFrequency" id="casually" value="casually">
										<label for="rarely">Rarily (Special occasions etc)</label>
										<input type="radio" name="useFrequency" id="rarely" value="rarely">
									</fieldset>
									<!-- Favourite Type -->
									<fieldset class="form-fields">
										<legend>Favourite Type of Herb</legend>
										<label for="sativa">Sativa</label>
										<input type="checkbox" name="sativa" id="sativa" value="Sativa">
										<label for="indica">Indica</label>
										<input type="checkbox" name="indica" id="indica" value="Indica">
										<label for="hybrid">Hybrid</label>
										<input type="checkbox" name="hybrid" id="hybrid" value="Hybrid">
									</fieldset>
									<br>
									<input type="submit" value="send" class="input-button">
								</form>
								<!-- Add privacy policy -->
								<p>All of your information will remain confidential. See our privacy policy</p>
							</section>
						<div class="3u">
							<section>
								<section>
									<a href="#" class="image full"><img src="#" alt=""></a>
									<h2>VIP Club Infomation</h2>
									<p>With our awesome VIP club you get first hand service on all of our instore deals and special online
									purchase.</p>
									<button class="sign-up">Sign Up</button>
									<button class="log-in">Log In</button>

								</section>
								<!-- Info -->
							<section>
								<h2>Our Info</h2>
								<p>We would love to hear from you</p>
								<h3>Phone</h3>
								<a href="tel:893-674-4329">893-674-4329</a>
								<h3>Email</h3>
								<a href="manager@heybud.ca">manager@heybud.ca</a>
								<h3>Address</h3>
								<p>2334 Rourke Way NW,<br> Calgary, Canada</p>
							</section>
							<!--Business Hours-->
							<section>
								<table>
									<caption>Business Hours</caption>
									<tr>
										<th>Monday</th>
										<td>10:00am</td>
										<td>8:00pm</td>
									</tr>
									<tr>
										<th>Tuesday</th>
										<td>Closed</td>
										<td>Closed</td>
									</tr>
									<tr>
										<th>Wednesday</th>
										<td>10:00am</td>
										<td>8:00pm</td>
									</tr>
									<tr>
										<th>Thursday</th>
										<td>10:00am</td>
										<td>10:00pm</td>
									</tr>
									<tr>
										<th>Friday</th>
										<td>10:00am</td>
										<td>12:00am</td>
									</tr>
									<tr>
										<th>Saturday</th>
										<td>10:00am</td>
										<td>12:00pm</td>
									</tr>
									<tr>
										<th>Sunday</th>
										<td>10:00am</td>
										<td>11:00pm</td>
									</tr>
								</table>
							</section>

						</div>
					</div>
				</div>
			</div>
			<div id="marketing">
				<div class="container">
					<div class="row">
						<div class="6u">
							<!--For mobile, can we make this clickable so it opens up in your phone and email for email? -->
						</div>
					</div>
				</div>
			</div>
			<!-- Copyright and bottom nav -->
			<%- include('../partials/footer')%>

		</body>

</html>
