<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<%- include('../partials/head') %>
</head>

<body class="homepage">

	<!-- Header -->
	<%- include('../partials/header')%>
		<div id="featured">
			<div class="container">

				<section>
					<header>
						<div>
							<h1 class="heybud">Welcome To HeyBUD!!</h1>
							<p>Where We Leave The Partying To You!!!</p>
						</div>



					</header>
				</section>
			</div>
			<section class="index-promo">
				<div>
					<h2>Flower Specials</h2>
					<a href="#" class="image full"><img src="/images/new photos/brown-hash.jpg" alt="image"></a>

				</div>


				<div>
					<header>
						<h2>Shop Accessories</h2>
					</header>
					<a href="#" class="image full"><img src="/images/new photos/bubbler.jpg" alt="image"></a>

				</div>

				<div>
					<header>
						<h2>Edibles</h2>
					</header>
					<a href="#" class="image full"><img src="/images/new photos/zane-bolen-Mnn6zAVyk9U-unsplash.jpg" alt=""></a>


				</div>

				<div>
					<header>
						<h2>For The Green Thumb</h2>
					</header>
					<a href="#" class="image full"><img src="/images/edited/small/indica1.jpg" alt=""></a>


				</div>
			</section>

			<div id="marketing">
				<div class="container-market">
					<div class="indica">
						<header>
							<h2>Indica Favourites</h2>
						</header>
						<ul class="style1">
							<li class="first"><img src="/images/edited/small/hybrid2.jpg" width="80" height="80" alt="">
								<p>White Rhino</p>
							</li>
							<li><img src="/images/edited/small/hybrid3.jpg" width="80" height="80" alt="">
								<p>Northern Lights</p>
							</li>
							<li><img src="/images/edited/small/sativa3.jpg" width="80" height="80" alt="">
								<p>Blue Cheese</p>
							</li>
						</ul>
					</div>
					<div class="sativa">
						<header>
							<h2>Sativa Favourites</h2>
						</header>
						<ul class="style1">
							<li class="first"><img src="/images/images-temp-2/pics09.jpg" width="80" height="80" alt="">
								<p>Sour Diesel</p>
							</li>
							<li><img src="/images/images-temp-2/pics10.jpg" width="80" height="80" alt="">
								<p>Jack Herer</p>
							</li>
							<li><img src="/images/images-temp-2/pics10.jpg" width="80" height="80" alt="">
								<p>Super Lemon Haze</p>
							</li>
						</ul>

					</div>
				</div>
				<section class="tips4safety">
					<header>
						<h2>Tips For Responsible Consumption</h2>
					</header>
					<a href="#" class="image full"><img src="/images/edited/large/jointpass.jpg" alt=""></a>
					<ul>
						<li>Start with a very small amount.</li>
						<li>Consider THC and CBD content in products.</li>
						<li>Try lower-risk alternatives to combustion inhalation.</li>
						<li>Consume a very small amount when ingesting cannabis and wait at least an hour to gauge effects.
						</li>
						<li>Never drive after or while consuming cannabis.</li>
					</ul>
				</section>


			</div>
		</div>

		<div id="main">
			<div class="container">
				<div class="row">
					<div class="8u">
						<section>
							<header>
								<h2>Visit Us Here!!!</h2>
							</header>
							<p>Our Store is brand new and begging or you to visit us. We have a recreational room for customers and
								VIP members!! </p>

						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<%- include('../partials/footer')%>

</body>

</html>