<html>
  <head>
  </head>
  <body>
    <nav>
      <%- include('./partials/nav') %>
    </nav>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
  </main>
  <footer>
    <%- include('./partials/footer') %>
 </footer>
  </body>
</html>

