<!DOCTYPE HTML>
<!--
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<%- include('../partials/head') %>
</head>

<body class="homepage">

	<!-- Header -->
	<%- include('../partials/header')%>
		<div id="featured">
			<div class="container">
				<div class="row">

					<div class="3u">
						<section>
							<header>
								<div>
									<h1>Welcome To HeyBUD!!</h1>
									<p>Where We Leave The Partying Up To You!!!</p>
								</div>
								<article>
									At HeyBUD we value our customers. With the best product's and the lowest prices, we gurantee your
									satisfaction. Established in 2020, we may be new on the market but we have the right core values to
									last. We hope to see you soon.
								</article>
							</header>
							<h2>Flower Specials</h2>
							<p>Enjoy our weekly specials at great costs.
							</p>
							<a href="#" class="image full"><img src="/images/new photos/coral-reef-kush.jpg" alt="image"></a>
						</section>
					</div>

					<div class="3u">
						<section>
							<header>
								<h2>Shop Accessories</h2>
							</header>
							<p>Something all stoners can swear by is their device of choice and boy do we carry alot. With tons of
								instore items, we offer a 3 tier online purchase. Canna Cargo, Hot Box, and last but not least Pinner
								Pack.</p>
							<a href="#" class="image full"><img src="/images/new photos/grinder.jpg" alt="image"></a>
						</section>
					</div>

					<div class="3u">
						<section>
							<header>
								<h2>Edibles</h2>
							</header>
							<p>If smoking is not your style, we carry a wicked selection of edibles with a wide variety of THC %. </p>
							<a href="#" class="image full"><img src="/images/new photos/edible-cookie.jpg" alt=""></a>
						</section>
					</div>

					<div class="3u">
						<section>
							<header>
								<h2>For The Green Thumb</h2>
							</header>
							<p>If your interest is growing and not smoking this is for you.</p>
							<a href="#" class="image full"><img src="/images/edited/medium/weedrow.jpg" alt=""></a>
						</section>
					</div>

				</div>
			</div>
		</div>
		<div id="marketing">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>Indica Favourites</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="/images/edited/small/hybrid2.jpg" width="80" height="80" alt="">
									<p>White Rhino</p>
								</li>
								<li><img src="/images/edited/small/hybrid3.jpg" width="80" height="80" alt="">
									<p>Northern Lights</p>
								</li>
								<li><img src="/images/edited/small/sativa3.jpg" width="80" height="80" alt="">
									<p>Blue Cheese</p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Sativa Favourites</h2>
							</header>
							<ul class="style1">
								<li class="first"><img src="/images/images-temp-2/pics09.jpg" width="80" height="80" alt="">
									<p>Sour Diesel</p>
								</li>
								<li><img src="/images/images-temp-2/pics10.jpg" width="80" height="80" alt="">
									<p>Jack Herer</p>
								</li>
								<li><img src="/images/images-temp-2/pics10.jpg" width="80" height="80" alt="">
									<p>Super Lemon Haze</p>
								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>Tips For Responsible Consumption</h2>
							</header>
							<a href="#" class="image full"><img src="/images/edited/large/jointpass.jpg" alt=""></a>
							<ul>
								<li>Start with a very small amount.</li>
								<li>Consider THC and CBD content in products.</li>
								<li>Try lower-risk alternatives to combustion inhalation.</li>
								<li>Consume a very small amount when ingesting cannabis and wait at least an hour to gauge effects.</li>
								<li>Never drive after or while consuming cannabis.</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div id="main">
			<div class="container">
				<div class="row">
					<div class="8u">
						<section>
							<header>
								<h2>Visit Us Here!!!</h2>
							</header>
							<p>Our Store is brand new and begging or you to visit us. We have a recreational room for customers and
								VIP members!! </p>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987111.0686282179!2d-150.561265117383!3d61.10422541286272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x56c8917604b33f41%3A0x257dba5aa78468e3!2sAnchorage%2C%20AK%2C%20USA!5e0!3m2!1sen!2sca!4v1616730036407!5m2!1sen!2sca"
								width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<%- include('../partials/footer')%>
		</div>

</body>

</html>